.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-content {
  background-color: #171717;
  color: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(to right, #f71083, #f8cd0b);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ffffff;
  margin: 0 auto;
}

.close-btn {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: #444;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.modal-content.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

/* Responsive pour petits écrans */
@media (max-width: 480px) {
  .modal-content {
    padding: 20px;
  }

  .modal-content h2 {
    font-size: 22px;
  }

  .modal-content p {
    font-size: 14px !important;
  }

  .close-btn {
    margin-top: 20px;
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Supprime soulignement du lien */
a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

a:hover {
  color: #f8803c;
}
